:root {
  
  /* Main Settings  */
  --main-background-color: #F65A50;
  --text-primary-color: #00c8f0;
  --text-secondary-color: rgb(255, 255, 255);

  /* Nav Settings  */
  --nav-link-color: rgba(0, 0, 0, 0);
  --nav-link-hover-color: rgba(87, 87, 87, 0);
  --nav-link-hover-background-color: none;
  --nav-background-color: none;
  --nav-height: 150px;
  --nav-logo-width: 200px;
  --nav-logo-font-size: 16px;

  /* Mobile Nav Settings  */
  --mobile-nav-background-color: rgba(155, 155, 155, 0);
  --mobile-nav-logo-height:100px;
  --mobile-nav-link-color: #00c8f0;
  --mobile-nav-link-hover-color: #F66A00;
  --mobile-nav-link-size: 20px;

  /* Card Settings  */
  --card-background-color: #f60c0077;
  --card-border-radius: 10px;
  --card-shadow: 10px 10px 20px -13px #f78b7f00;

  /* Minting Area */
  --minting-box-color: #F78A7F;
  --minting-box-heading-color: white;
  --minting-box-info-box-color: rgb(255, 255, 255);
  --minting-box-text-color: #ffffff;


  /* Minting Button */
  --minting-button-color: linear-gradient(180deg,#6d01c5 0%,##6d01c5 100%);
  --minting-button-text-color: white;

}






